p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #000000;
    line-height: 1.6;
}
ul{
    margin: 5% auto 0px;
}
li{
    margin: 10px 0px;
    list-style: none;
}
input[type=checkbox]{
    margin: 10px;
}